# Last match in file takes precedence.

# Ping for all PRs
* @Lokilife

# Ping for prototypes, localization, maps and misc
/Resources/Prototypes/ @Surani1
/Resources/Locale/ @Surani1
/Resources/Maps/ @Surani1
/Resources/ServerInfo/ @Surani1

# Ping for maps
/Resources/Maps/ @Heidem1
